---
import Layout from '../layouts/Layout.astro'
import Navbar from '../components/Navbar.astro'
import Section from '../components/Section.astro'
import Cards from '../components/Cards.astro'
import Testimoni from '../components/Testimoni.astro'
import Paket from '../components/Paket.astro'
const data = Object.values(import.meta.glob('../content/*.md', { eager: true }))
const services = data.filter(item => item.frontmatter.title === "services")
const Testimonial = data.filter(item => item.frontmatter.title === "Testimonial")
const Logo = data.filter(item => item.frontmatter.title === "Logo")
const PK = data.filter(item => item.frontmatter.title === "Paket")
---

<Layout>
	<Navbar />
	<main>
	  <Section style="pad" id="home">
	    <div class="d-md-flex gap-4 justify-content-between align-items-center text-center text-md-start">
	      <div>
	        <h1 class="display-2 fw-medium">Solusi digital nyata,<br>Untuk hasil nyata</h1>
	        <p class="fs-5">Kami rancang strategi digital yang relevan, tajam, dan berdampak</p>
	        <div class="text-center">
	        <a href="" class="btn btn-outline-primary btn-lg rounded-5 fs-5 fw-semibold py-2 px-4 mt-4">Kontak Kami</a>
	        </div>
	      </div>
	      <img src="/img/hero.webp" alt="hero image" fetchpriority="high" class="hero-image img-fluid mt-5 mt-md-0">
	    </div>
	  </Section>
	  <!-- layanan -->
	  {services.map((section) => {
	   const { title, items } = section.frontmatter
	   return (
	  <Section style="pb-5" id="layanan">
	    <h1 class="display-4 fw-medium">Layanan Kami</h1>
	    <p class="fs-5 pt-4">Kami berkomitmen pada strategi yang tepat sasaran, eksekusi berkualitas tinggi,<br>dan hasil yang berdampak langsung pada pertumbuhan bisnis Anda.</p>
	    <div class="row mt-5">
	      {items.map((item) => (
	      <div class="col-lg-3">
	        <Cards style="card rounded-4 bg-body-tertiary text-center mt-4 mt-lg-0" title={item.title} description={item.description}>
	          <div class="text-center" slot="icon">
	            <i class={item.icon}></i>
	          </div>
	        </Cards>
	      </div>
	      ))}
	    </div>
	  </Section>
	  )})}
	  <!-- tentang kami -->
	  <Section style="py-5 bg-primary text-white" id="tentang">
	    <div class="d-md-flex justify-content-between align-items-center gap-5">
	      <img src="/img/about.webp" alt="about image" loading="lazy" class="hero-image">
	      <div class="text-center text-md-start">
	        <h1 class="display-4 fw-medium">Tentang Kami</h1>
	        <p class="fs-5 pt-4">Kami adalah digital marketing agency yang percaya bahwa strategi hebat tidak lahir dari template. Kami hadir untuk brand yang ingin tumbuh dengan pendekatan yang berbeda, terarah, dan relevan dengan zaman. Kami tidak menjual janji kosong. Kami bantu Anda membangun kehadiran digital yang berdampak, konsisten, dan terukur—dengan tim yang menggabungkan analitik tajam, kreativitas tinggi, dan eksekusi rapi. Kami ada untuk brand yang ingin lebih dari sekadar tampil. Kami bantu Anda didengar, dipilih, dan diingat.</p>
	      </div>
	    </div>
	  </Section>
	  <!-- mengapa memilih kami -->
	  <Section style="py-5" id="mengapakami">
	    <h1 class="display-4 fw-medium">Mengapa memilih kami</h1>
	    <p class="pt-4 fs-5">Kami bukan sekadar penyedia layanan digital kami adalah mitra strategis untuk pertumbuhan bisnis Anda.</p>
	    <div class="row gap-4 gap-lg-0 pt-5">
	      <div class="col-lg-8">
	        <div class="row gap-4 gap-lg-0">
	          <div class="col-lg-6">
	            <Cards style="card bg-body-tertiary px-3 rounded-4" title="Pendekatan berbasis data" description="Setiap keputusan kami didukung oleh riset dan analisis, bukan asumsi. Strategi Anda dibangun dengan dasar yang solid.">
	              <div slot="icon">
	                <i class="bi bi-bar-chart-line display-4"></i>
	              </div>
	            </Cards>
	          </div>
	          <div class="col-lg-6">
	            <Cards style="card bg-body-tertiary px-3 rounded-4" title="Fokus pada hasil nyata" description="Kami mengukur kesuksesan dari apa yang benar-benar berdampak: konversi, engagement berkualitas, dan pertumbuhan bisnis Anda.">
	              <div slot="icon">
	                <i class="bi bi-card-checklist display-4"></i>
	              </div>
	            </Cards>
	          </div>
	          <div class="col-lg-12 mt-0 mt-lg-4">
	            <Cards style="card bg-body-tertiary px-3 rounded-4" title="Tim ahli dan adaptif" description="Kami terdiri dari talenta multidisiplin—strategis, kreatif, dan teknis—yang terus mengikuti perkembangan tren digital.">
	              <div slot="icon">
	                <i class="bi bi-people-fill display-4"></i>
	              </div>
	            </Cards>
	          </div>
	        </div>
	      </div>
	      <div class="col-lg-4 align-self-center">
	        <Cards style="card bg-primary px-3 text-white rounded-4" title="Kolaboratif & transparan" description="Kami percaya bahwa hasil terbaik lahir dari kolaborasi yang terbuka. Alih-alih bekerja secara tertutup dan hanya memberikan laporan di akhir, kami melibatkan Anda di setiap tahap proses—mulai dari perencanaan, eksekusi, hingga evaluasi. Tim kami bersikap transparan dalam setiap langkah mulai dari penggunaan anggaran, strategi yang dijalankan, hingga hasil yang dicapai.">
	          <div slot="icon">
	            <i class="bi bi-recycle display-4"></i>
	          </div>
	         <div class="pt-4" slot="tombol">
	           <a href="" class="btn btn-outline-light btn-lg rounded-5 fs-5 fw-semibold py-2 px-4 mt-4">Kontak Kami</a>
	         </div>
	       </Cards>
	      </div>
	    </div>
	  </Section>
	  <!-- Testimonial -->
	  {Testimonial.map((section) => {
	  const { title, items } = section.frontmatter
	  return (
	  <Section style="py-5" id="testimoni">
	    <h1 class="display-4 fw-medium">Apa kata klien kami</h1>
	    <p class="fs-5 mt-4">Kepercayaan dan kepuasan klien adalah prioritas kami. Berikut beberapa pengalaman nyata dari mereka yang telah bekerja sama dengan kami.</p>
	    <div class="row mt-5">
	      {items.map((item) => (
	      <div class="col-lg-4 p-3">
	        <Testimoni description={item.description} name={item.name} position={item.position} />
	      </div>
	      ))}
	    </div>
	  </Section>
	  )})}
	  <!-- pricing -->
	  {PK.map((section) => {
	  const { title, items } = section.frontmatter
	  return (
	  <Section style="py-5 bg-primary text-white" id="pricing">
	    <h1 class="display-4 fw-medium">Paket Layanan Kami</h1>
	    <p class="fs-5 pt-4">Kami memahami bahwa setiap brand memiliki kebutuhan yang berbeda. Oleh karena itu, kami menawarkan paket yang fleksibel dan dapat disesuaikan dengan tujuan bisnis Anda.</p>
	    <div class="row mt-5">
	      {items.map((item) => (
	      <div class="col-lg-4">
	        <Paket paket={item.paket} description={item.description} fitur="hehe">
	          <div slot="harga">
	            <h2 class="fs-1 fw-semibold mt-4">Rp. {item.harga}<span class="fs-3">/bulan</span></h2>
	          </div>
	          <div slot="fitur">
  	          <ul>
  	          {item.fitur.map(f => (
  	            <li>{f}</li>
  	           ))}
  	          </ul>
	          </div>
	         </Paket>
	      </div>
	      ))}
	      <div class="col-lg-4">
	        <Paket paket="Custom/Enterprise" description="Untuk kebutuhan strategi digital yang lebih kompleks dan menyeluruh.">
	          <div slot="harga">
	            <h2 class="fs-1 fw-semibold mt-4">Hubungi Kami</h2>
	          </div>
	          <div slot="fitur">
	            <ul>
	              <li>Strategi khusus</li>
	              <li>Pengelolaan Campaign Multi-Platform</li>
	              <li>Konten Premium & Video</li>
	              <li>SEO Lanjutan, CRM, Automasi</li>
	              <li>Dedicated Account Manager</li>
	            </ul>
	          </div>
	        </Paket>
	      </div>
	    </div>
	  </Section>
	  )})}
	  <!-- partner -->
	  {Logo.map((section) => {
	  const { title, items } = section.frontmatter
	  return (
	  <Section style="py-5" id="partner">
	    <h1 class="display-4 fw-medium">Partner Kami</h1>
	    <p class="fs-5 pt-4 ">Kami dipercaya oleh berbagai brand dan organisasi dari berbagai industri untuk merancang dan menjalankan strategi digital yang berdampak. Kolaborasi ini bukan hanya soal proyek, tetapi kemitraan jangka panjang yang dibangun atas dasar kepercayaan, transparansi, dan hasil nyata.</p>
	    <div class="row text-center mt-5">
	      {items.map((item) => (
	      <div class="col-lg-4">
	        <img src={item.logo} alt="Logo company" loading='lazy' class="img-fluid">
	      </div>
	      ))}
	    </div>
	    <div class="text-center">
	      <button class="btn btn-outline-primary btn-lg rounded-5 fs-5 fw-semibold py-2 px-4 mt-5">Jadilah Partner Kami</button>
	    </div>
	  </Section>
	  )})}
	  <!-- contact us -->
	  <Section style="py-5" id="contact">
	   <h1 class="display-4 fw-medium">Kontak Kami</h1>
  	 <p class="fs-5 mt-4">Apakah Anda siap membawa brand Anda ke level berikutnya? Kami terbuka<br>untuk diskusi, konsultasi, atau pertanyaan seputar kebutuhan digital Anda.</p>
	    <div class="row mt-5 gap-4 justify-content-between">
  	    <div class="col-lg-5">
  	      <form class="d-flex flex-column gap-3">
  	        <label for="name">Nama</label>
  	        <input type="text" name="name" class="form-control" placeholder="Nama Kamu" id="name">
  	        <label for="email">Email</label>
  	        <input type="email" name="name" class="form-control" placeholder="Masukan email kamu" id="email">
  	        <label for="message">Pesan</label>
  	        <textarea type="text" name="message" class="form-control" id="message" placeholder="Pesan" style="height:7rem"></textarea>
  	        <button class="btn btn-outline-primary fs-5 fw-semibold rounded-5 py-2" type="submit">Kirim Form</button>
  	      </form>
  	    </div>
  	    <div class="col-lg-5">
  	      <p class="fs-5">Kami berkomitmen menjaga kerahasiaan informasi Anda. Semua data hanya digunakan untuk keperluan komunikasi profesional dan tidak akan dibagikan ke pihak ketiga.</p>
  	      <p class="fs-5">Masih ragu harus mulai dari mana? Kami bantu Anda merumuskan solusi digital yang sesuai dengan kebutuhan dan anggaran Anda.</p>
  	      <ul>
    	      <li class="fs-5">Email: hello@example.co.id</li>
    	      <li class="fs-5">No.Hp: +629l81234567890</li>
    	      <li class="fs-5">Kantor: Jl.Karangkambang no1, Cilacap, Jawa Tengah</li>
  	      </ul>
  	    </div>
  	   </div>
	  </Section>
	</main>
	<!-- footer -->
	<footer class="py-5 bg-primary text-white">
	  <div class="container">
	  <div class="row text-center">
	    <div class="col-md-4 text-md-start">
	      <h1>BrandBuzz</h1>
	      <ul class="list-unstyled mt-3">
  	      <li class="fs-5">+6281234567890</li>
  	      <li class="fs-5">hello@example.co.id</li>
  	      <li class="fs-5">Jl. Karangkambang no1, Cilacap, Jawa Tengah</li>
	      </ul>
	    </div>
	    <div class="col-md-2 mt-4 mt-md-0">
	      <h2>Company</h2>
	      <p><a href="" class="link">Tentang Kami</a></p>
	      <p><a href="" class="link">Karir</a></p>
	      <p><a href="" class="link">Tim Kami</a></p>
	    </div>
	    <div class="col-md-2 mt-4 mt-md-0">
	      <h2>Menu</h2>
	      <p><a href="#homs" class="link">Home</a></p>
	      <p><a href="#tentang" class="link">Tentang Kami</a></p>
	      <p><a href="#layanan" class="link">Layanan Kami</a></p>
	      <p><a href="#testimoni" class="link">Testimonial</a></p>
	      <p><a href="#pricing" class="link">Paket Layanan</a></p>
	    </div>
	    <div class="col-md-4 mt-4 mt-md-0">
	      <h2>Social Media</h2>
	      <div class="d-flex gap-4 justify-content-center">
  	      <a href="" class="link"><i class="bi bi-facebook fs-2"></i></a></p>
  	      <a href="" class="link"><i class="bi bi-twitter fs-2"></i></a></p>
  	      <a href="" class="link"><i class="bi bi-instagram fs-2"></i></a></p>
	      </div>
	    </div>
	  </div>
	  </div>
	</footer>
</Layout>